body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

#question-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* 調整題目位置 */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

.option-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
}

.option:hover {
    background-color: #e0e0e0;
}

.option.selected {
    background-color: #4CAF50;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* 調整按鈕之間的間距 */
    margin-top: 20px; /* 調整按鈕與題目之間的間距 */
}

#start-quiz {
    display: block;
    margin: 0 auto